.type_product_wrapper{
    width: 1280px;
    margin: auto;
}

.type_product_content{
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
    border-bottom: 1px solid #000;
    background-color: #fff;
}

.next_type_product_btn{
    padding: 0 12px;
    border: none;
    height: 44px;
    font-size: 1.8rem;
    background-color: #fff;

    &:hover{
        background-color: #ccc;
        cursor: pointer;
    }
}

.products{
    display: grid;
    grid-template-columns: repeat(6, 200px);
    column-gap: 16px;
}

.product_item{
    
}

.more_product_btn{
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

