.title{
    font-size: 2rem;
    color: #000;
    position: relative;
}

.title::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    bottom: -8px;
}

.adding_btn{
    width: 125px;
    height: 125px;
    border: 1px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    &:hover{
        cursor: pointer;
        border-color: rgb(26, 148, 255);
        
        .plus_icon{
            color: rgb(26, 148, 255);;
        }
    }
}

.plus_icon{
    font-size: 48px;
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
}

.table{
    margin-top: 24px;
}

.modal{
    form{
        margin: 16px 16px -24px 16px;
    }
}

.submit_btn{
    float: right;
}

.product_image{
    margin: -12px 0 12px 60px;
    margin-left: 60px;
    margin-bottom: 12px;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    
    img{
        object-fit: contain;
        width: 100%;
    }
}